@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chakra+Petch&family=Open+Sans&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
}
.reg{
    display: flex;
    justify-content: center;
}
h1{
    font-family: "Open Sans";
    margin-top: 120px;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.button{
    background-color: rgba(88, 169, 165, 1);
    border-radius: 7px;
    height: 10vh;
    width: 30vw;
    align-items: center;
    margin: 15px;
    display: flex;
    justify-content: center;
}
a{
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 26px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
a:active{
    transform: translateY(3px);

}