@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Regular'), local('Golos-Text-Regular'),
    url('fonts/GolosText-Regular.woff2') format('woff2'),
    url('fonts/GolosText-Regular.woff') format('woff'),
    url('fonts/GolosText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Golos Text';
}
header{
    background: linear-gradient(45deg, #B2C541, #003274);
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-decoration: none;
}
.head{
    width: 12%;
    margin-left: 40%;
}
.green{
    font-size: 32px;
    margin-left: 7%;
}
.word{
    color: white;
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.mid{
    display: grid;
    grid-template-areas: "A C C"
                         "B C C"
                         "B C C";
    width: 40%;
    margin: 6% 0 0 30%;
    font-size: 30px;
}
.title{
    grid-area: A;

}
.void{
    border-top: 1px solid black;
}
.text{
    grid-area: C;
    border-left: 1px solid black;
    padding: 5px;
}


.button {
    width: 20%;
    height: 10%;
    margin: 9% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #78b661;
    background: #B1C72E;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.button:hover {
    background: #ffffff;
    color:#000000;
    transition: 0.5s all;
}
.participation{
font-size: 30px;
    color: white;
}




.b-popup, .a-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
}
.b-popup.active, .a-popup.active{
    opacity: 1;
    pointer-events: all;
}
.b-popup-content, .a-popup-content{


    border-radius: 45px;
    position: fixed;
    top: 35%;
    left: 38%;
    background: #ffffff;
    width: 400px;
    padding: 25px;

}
label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup-head, .a-popup-head{
    color: black;
    font-size: 50px;
    margin-top: 5%;
}
.label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.input1, .input2 {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.input1:focus, .input2:focus {
    border-bottom: 1px solid #2982ff;
}

.input1:focus + .label__text {
    color: #2982ff;
}
.input2:focus + .label__text {
    color: #2982ff;
}

.button1 {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.button1:hover {
    background: #fff;
    color:#2982ff;
    transition: 0.5s all;
}
.button3 {
    width: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: reverse;
    border-radius: 45px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    margin: 0.5%;
}
.admin{
    display: flex;
    flex-direction: row-reverse;

}
.button3:hover {
    background: #fff;
    color:#2982ff;
    transition: 0.5s all;
}
.a-popup-content{
    top: 1%;
    width: 25%;
    left: 37.5%;
}
.foot{
    margin: 0 5%;
    font-size: 16px;
}

footer{
    background-color: #F3F3F3;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: auto;
    bottom: 0;
}



